<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1>H3LL0 Fr13nd</h1>
            <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/img/dp.jpg" style="height: 100%;"class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Amir Hamzah</h5>
                      <p class="card-text">A freelance R&D developer based in Cyberjaya mainly focused on Augmented Reality, Virtual Reality and Internet of Things techbnologies</p>
                      <ul class="list-group list-group-horizontal">
                          <li class="list-group-item">
                              <img src="/img/tech/vue.svg" style="width: 50px; height: 50px;" alt="">
                              <img src="/img/tech/nodejs.svg" style="width: 50px; height: 50px;" alt="">
                              <img src="/img/tech/node-red.svg" style="width: 50px; height: 50px;" alt="">
                              <img src="/img/tech/html5.svg" style="width: 50px; height: 50px;" alt="">
                              <img src="/img/tech/css3.svg" style="width: 50px; height: 50px;" alt="">
                              <img src="/img/tech/bootstrap.svg" style="width: 50px; height: 50px;" alt="">
                              <img src="/img/tech/github.svg" style="width: 50px; height: 50px;" alt="">
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>