<!-- the termynal container -->
<div id="termynal" data-termynal>
    <span data-ty="input">ls</span>
    <span data-ty>package.json node_modules whoami.js skills.js</span>
    <span data-ty="input">node whoami</span>
    <span data-ty="input" data-ty-prompt=">>>">A R&D Developer based in Cyberjaya who mainly focused in AR, VR and IOT Technologies</span>
    <span data-ty></span>
    <span data-ty="input">node skills</span>
    <span data-ty="input" data-ty-prompt=">>>">loading...</span>
    <span data-ty="progress"></span>
    <span data-ty="input" data-ty-prompt=">>">Augmented Reality-[WebAR, Spark AR, Lens Studio]</span>
    <span data-ty="input" data-ty-prompt=">>">Virtual Reality-[WebVR, A-Frame]</span>
    <span data-ty="input" data-ty-prompt=">>">Internet of Things-[Raspberry Pi, NodeMCU8266, MQTT, Node-RED]</span>
    <span data-ty="input" data-ty-prompt=">>">Git</span>
    <span data-ty="input" data-ty-prompt=">>">Hologram Projection</span>
    <span data-ty="input" data-ty-prompt=">>">Frontend Dev-[VueJS, NodeJS, HTML5, CSS3]</span>
    <span data-ty="input" data-ty-prompt=">>">Backend Dev-[NodeJS, Express, Strapi, Postgres, MongoDB]</span>
</div>
