@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

*{
    font-family: 'Fira Mono', monospace;
}

header{
    width: 100%;
    margin: 1em 1em;
}

img.center{
    margin: 0 auto;
    padding: 0px;
    width: 120px;
    height: 120px;
    text-align: center;
}

.navPad{
    padding-top: 0.2em;
}