<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <title>amir3hamzah</title>
  </head>
  <body>
    <%- include('../partials/timeline',{works: works})%> 

    <%- include('../partials/nav')%>
    <%- include('../partials/script') %>
  </body>
</html>