<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <title>amir3hamzah</title>
  </head>
  <body>
    <div class="row align-items-center">
      <header>
        <center>
          <a href="/">
            <img style="width: 120px; height: 120px;" src="/img/logo.png" alt="@amir3hamzah">
          </a>
        </center>
      </header>
      <div class="col">
      </div>
      <div class="col">
        <section class="terminalSection">
          <%- include('../partials/termynal')%>
        </section>
      </div>
      <div class="col">
      </div>
    </div>
    
    <%- include('../partials/nav')%>
    <%- include('../partials/script') %>
  </body>
</html>