<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <title>amir3hamzah</title>
  </head>
  <body>
    <header class="nav justify-content-center">
      <a href="/">
        <img class="center" src="/img/logo.png" alt="@amir3hamzah">
      </a>
    </header>
    <br>
    <div class="row align-items-center">
      <div class="col">
      </div>
      <div class="col">
        <section class="terminalSection">
          <%- include('../partials/termynal')%>
        </section>
      </div>
      <div class="col">
      </div>
    </div>
    
    <%- include('../partials/nav')%>
    <%- include('../partials/script') %>
  </body>
</html>