<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <title>amir3hamzah</title>
  </head>
  <body>
    <header><p></p></header>
    <div class="row align-items-center">
      <div class="col">
      </div>
      <div class="col">
        <section class="terminalSection">
          <%- include('../partials/termynal')%>
        </section>
      </div>
      <div class="col">
      </div>
    </div>
    
    <%- include('../partials/nav')%>
    <%- include('../partials/script') %>
  </body>
</html>