<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <title>amir3hamzah</title>
  </head>
  <body>
    <header>Logo</header>
    <section class="container">
        <%- include('../partials/termynal')%>
    </section>

    <%- include('../partials/nav')%>
    <%- include('../partials/script') %>
  </body>
</html>