<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <title>amir3hamzah</title>
  </head>
  <body>
    <h1>Portfolio</h1>
    

    <%- include('../partials/nav')%>
    <%- include('../partials/script') %>
  </body>
</html>